/* CSS declarations go here */

body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #CC0034, #7D0034 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #CC0034, #7D0034 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
    position: absolute;
    right: 0;
}

.clickable {
    cursor: pointer;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.7em;
}

h1, h2 {
    margin: 0;
    margin-bottom: 10px;
    margin-right: 1em;
    text-align: center;
    color: #eeeeee;
}

.mainArea {
    margin: 20px;
}

.bookingCategory {
    padding: 20px;
    color: white;
    text-align: center;
}

#bookingCategory1 {
    background-color: red;
}

#bookingCategory2 {
    background-color: blue;
}

#bookingCategory3 {
    background-color: green;
}

.bookingCategoryPrice {
    marging: 5px;
    font-size: 1.5rem;
}

.bookingCategoryRemaining {
    marging: 5px;
    font-size: 2rem;
    font-style: italic;
}

.bookings {
    margin-top: 20px;
    width: 100%
}

.bookings .booking td {
    padding-top: 10px;
}

.bookings .bookingLog td {
    font-size: 0.7rem;
}

.bookings .bookingLog td.date {
    padding-left: 20px;
}


.delete, .restore {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
    cursor: pointer;
}

.deleted {
    text-decoration: line-through;
    color: #ddd;
}


@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-task input {
        padding-bottom: 5px;
    }
}